.experience-page-div {
    text-align: center;
    padding-top: 3.5rem;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.chips-list {
    display: flex;
    justify-content: center !important;
    padding-bottom: 1rem;
}

mat-chip {
    background-color: #1976d2 !important;
}

mat-divider {
    border-top-color: #333 !important;
}