.projects-page {
    text-align: center;
    padding-top: 3.5rem;
    a {
        text-decoration: none;
        color: inherit;
    }
    h3 {
        padding-bottom: 1rem;
    }
}

mat-card {
    text-align: center;
    background-color: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    .mat-mdc-card-header {
        justify-content: center;
        padding-bottom: .5rem;
    }
    mat-card-content {
        padding: 1rem 0;
    }
    margin-bottom: 5rem;
}