<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Michael Corbishley Logo" src="https://raw.githubusercontent.com/michaelc143/personal-angular-site/main/src/logo.png" />
  <a routerLink="" class="toolbar-name" matRipple [matRippleCentered]="true">
    <span class="my-name">Michael Corbishley</span>
  </a>
  <app-app-dark-mode-toggle></app-app-dark-mode-toggle>
    <div class="spacer"></div>
    <a href="https://www.linkedin.com/in/michael-corbishley/" target="_blank" matRipple [matRippleCentered]="true" matTooltip="Link to my Linkedin!">
      <img class="linkedin-logo" src="https://static-00.iconduck.com/assets.00/linkedin-icon-512x512-sam6sbc4.png">
    </a>
    <div class="github-link">
      <a target="_blank" href="https://github.com/michaelc143" matRipple [matRippleCentered]="true" matTooltip="Link to my Github!">
        <img width="40" alt="Octicons-mark-github" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/64px-Octicons-mark-github.svg.png">
      </a>    
    </div>
    <a aria-label="experience" class="experience-div" routerLink="experience" matRipple [matRippleCentered]="true" matTooltip="My experience in software!">
      <span class="exp-and-skills">Experience & Skills</span>
    </a>
    <a aria-label="projects" class="skills-div" routerLink="projects" matRipple [matRippleCentered]="true" matTooltip="Some of my previous projects!">
      <span class="projects-link">Projects</span>
    </a>
</div>
<router-outlet></router-outlet>
<footer>
  
  <button class="homeBtn" routerLink="">Home</button>
  <svg class="footer-waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#1976d2" fill-opacity="1" d="M0,64L24,58.7C48,53,96,43,144,42.7C192,43,240,53,288,69.3C336,85,384,107,432,106.7C480,107,528,85,576,101.3C624,117,672,171,720,176C768,181,816,139,864,112C912,85,960,75,1008,74.7C1056,75,1104,85,1152,80C1200,75,1248,53,1296,53.3C1344,53,1392,75,1416,85.3L1440,96L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z"></path>
  </svg>
  
</footer>