:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.linkedin-logo {
    height: 40px;
    width: 40px;
    margin: 0 !important;
    padding-top: 0.4rem;
}

.github-link {
    height: 0.5rem;
    padding-bottom: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    box-shadow: 2px 2px 4px #333;
}

.toolbar img {
    margin: 0 12px;
}

footer {
    padding-top: 2rem;
    text-align: center;
    p {
        padding-top: 1rem;
    }

    button {
        box-shadow:inset 0px 1px 0px 0px #dcecfb;
        background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
        background-color:#bddbfa;
        border-radius:6px;
        border:1px solid #84bbf3;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #528ecc;
        margin-left: 1rem;
        box-shadow: 1px 1px 2px #333;
    }
    button:hover {
        background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
        background-color:#80b5ea;
    }
    button:active {
        position:relative;
        top:1px;
    }
}

.toolbar-name {
    padding-right: .5rem;
    text-decoration: none;
    color: white;
}

.skills-div,
.experience-div {
    padding-right: 0.5rem;
    text-decoration: none;
    color: white;
}

app-app-dark-mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-name {
    transition: filter 0.15s ease-in-out;
}

.my-name:hover {
    filter: brightness(85%);
}

.projects-link {
    transition: filter 0.15s ease-in-out;
}

.projects-link:hover {
    filter: brightness(85%);
}

.exp-and-skills {
    transition: filter 0.15s ease-in-out;
}

.exp-and-skills:hover {
    filter: brightness(85%);
}