<mat-slide-toggle
    checked="darkMode$ | async"
    (change)="onToggle()"
    matTooltip="Click me to toggle dark mode!"
>
</mat-slide-toggle>
<mat-icon *ngIf="(darkMode$ | async)" fontIcon="dark_mode" matTooltip="You are currently viewing the site in dark mode!"></mat-icon>
<mat-icon *ngIf="!(darkMode$ | async)" fontIcon="wb_sunny" matTooltip="You are currently viewing the site in light mode!"></mat-icon>
